:root {
  --bs-primary: #2E7D32; /* Forest Green for buttons, navbar */
  --bs-secondary: #A5D6A7; /* Light Green for secondary elements */
  --bs-body-bg: #F5F5F5; /* Off-White background */
  --bs-body-color: #333333; /* Dark Gray text */
  --bs-warning: #FFCA28; /* Soft Orange for accents */
  --bs-danger: #D32F2F; /* Muted Red for errors */
}

body {
    font-family: 'Century Schoolbook', serif;
}

.section {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--bs-light);
}

#section-menu {
    display: none;
}